*{
    padding: 0;
    margin: 0;
}

body{
    background: url('./ITIJAI-Photo/Intro/พื้นกระดาษnew.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

/* NavBar */
.navbar {
    overflow: hidden;
    background: linear-gradient(180deg, rgb(240, 240, 240)90%, rgba(255,255,255,0) 100%);;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    z-index: 9999999;
  }

  .navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 1.5vh;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    text-decoration: none;
  }

  .borderLR {
    width: 0.05vw;
    height: 2.5vh;
    background-color: gray;
  }

  .logonav {
    position: absolute;
    height: 3.8vh;
    left: 1vw;
    top: 0.8vh;
  }

    /* -----------------underLine animation--------------------- */
    .underline {
      position: relative;
      font-family: 'Oswald', sans-serif;
    }

    .underline:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 0.175em;
      bottom: 0;
      left: 0;
      background-color: black;
      opacity: .4;
      transform-origin: bottom center;
      transition: transform 0.25s ease-out;
    }

    .underline:hover:after {
      transform: scaleX(1);
      transform-origin: bottom center;
    }

/* all page */
.wrapper{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 500;
    font-size: 2em;
    line-height: 1.45em;
    letter-spacing: 2px;
    
}

/* Intro first page */
.page{
    position: relative;
    height: 100vh;
    width: 100%;
}

.logo{
    position: absolute;
    cursor: pointer;
    width: auto;
    height: 23vh;
    top: 8%;
    left: 18%;
}

.logo:nth-child(2){
    width: auto;
    height: 9vh;
    top: 22%;
    left: 24.8%;
}

.TextIntro{
    position: absolute;
    width: 47%;
    height: auto;
    top: 42%;
    left: 27%;
}

.stamp1{
    position: absolute;
    width: auto;
    height: 36vh;
    top: 57%;
    left: 63%;
    animation: turn 5s alternate infinite;
}

.frame{
    position: absolute;
    width: auto;
    height: 40vh;
    top: 76%;
    left: 62%;
    opacity: .8;
}

/* intro Second page */
#first_block{
    position: absolute;
    width: 32%;
    height: auto;
    left: 52vw;
    top: 45%;
}

#second_block{
    position: absolute;
    width: 38%;
    height: auto;
    left: 52vw;
    bottom: 22%;
}

.mocktwo{
    width: auto;
    height: 50vh;
    border-radius: 10px;
    position: absolute;
    left: 8vw;
    top: 30vh;
    animation: shading 1s alternate infinite;
    animation-delay: 2ms
}

@keyframes shading{
    from {filter: grayscale();}
    to {filter: grayscale(0);}
}

.postbox{
    position: absolute;
    width: auto;
    height: 25vh;
    top: 75vh;
    left: 18vw;
    transform: rotate(-18deg);
}

/* intro third page */
#blockThree{
    position: absolute;
    width: 41%;
    height: auto;
    left: 14vw;
    top: 45vh;
}

#mockthree{
    position: absolute;
    left: 62vw;
    width: auto;
    height: 60vh;
    border-radius: 10px;
    top: 20vh;
    animation: shading 1s alternate infinite;
    animation-delay: 2ms;
}

.flag{
    position: absolute;
    width: auto;
    height: 30vh;
    left: 48.75vw;
    top: 64vh;
    transform: rotate(-24deg);
}

/* intro Forth page */
#blockFour{
    position: absolute;
    width: 30%;
    height: auto;
    left: 52%;
    top: 48vh;
}

.picfour{
    position: absolute;
    width: auto;
    height: 66vh;
    border-radius: 10px;
    top: 18%;
    left: 20%;
    z-index: 89;
    animation: shading 1s alternate infinite;
    animation-delay: 2ms;
}

.stamp2{
    position: absolute;
    width: auto;
    height: 40vh;
    left: 30%;
    bottom: 2%;
    transform: rotate(24deg);
    z-index: 91;
}

.frame1{
    position: absolute;
    width: auto;
    height: 48vh;
    left: 35%;
    top: 88%;
    z-index: 90;
}

/* intro fifth page */
.blockFive{
    position: absolute;
    width: auto;
    height: 10vh;
    left: 18%;
    top: 52vh;
}

.blockFive:nth-child(2){
    position: absolute;
    top: 40vh;
}

.mockfive{
    position: absolute;
    border-radius: 10px;
    right: 12%;
    width: auto;
    height: 40vh;
    top: 30vh;
}

.paperplane{
    position: absolute;
    width: auto;
    height: 24vh;
    top: 86vh;
    left: 65vw;
    transform: rotate(-14deg);
    opacity: .8;
}

.frame2{
    position: absolute;
    width: auto;
    height: 28vh;
    right: 35%;
    top: 60vh;
    z-index: 112;
    opacity: .6;
}

/* intro Sixth page */
#blocksix{
    position: absolute;
    width: 30%;
    height: auto;
    left: 48%;
    top: 42%;
}

#mocksix{
    position: absolute;
    left: 15%;
    border-radius: 10px;
    width: auto;
    height: 66vh;
    top: 17%;
}

/* button next page */
    .btn img{
        position: absolute;
        top: 88vh;
        right: 12%;
        cursor: pointer;
        width: auto;
        height: 8vh;
    }

    .btn img:hover{
        width: auto;
        height: 10vh;
        bottom: 20%;
        right: 11%;
    }

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.slider-in {
    transform: translateX(-50%);
}

.slider-in.appear {
    transform: translateX(0);
}

@keyframes turn{
    from {transform: rotateY(0deg);}
    to {transform: rotateY(-360deg);}
}

@media (max-width:480px){
    .wrapper{
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-weight: 500;
        font-size: 1.1em;
        line-height: 1.45em;
        letter-spacing: .125em;
        overflow: hidden;
    }

    .logo{
        display: none;
    }

    .TextIntro{
        position: absolute;
        width: 75%;
        height: auto;
        top: 32%;
        left: 15%;
    }

    .stamp1{
        position: absolute;
        width: auto;
        height: 25%;
        top: 60%;
        left: 55%;
        transform: rotate(14deg);
        animation: shade 2s alternate infinite;
    }

    .frame{
        position: absolute;
        width: auto;
        height: 40vh;
        top: 70%;
        left: 52%;
        opacity: .8;
    }
    /* second response page */
    #first_block{
        position: absolute;
        width: 86%;
        height: auto;
        left: 8%;
        top: 15%;
    }
    
    #second_block{
        position: absolute;
        width: 88%;
        height: auto;
        left: 8%;
        bottom: 8%;
    }
    
    .mocktwo{
        width: 100%;
        height: auto;
        position: absolute;
        top: 30%;
        left: -10%;
    }
    
    .postbox{
        display: none;
    }

    /* page three responsive */
    #blockThree{
        position: absolute;
        width: 86%;
        height: auto;
        left: 8%;
        top: 5%;
    }
    
    #mockthree{
        position: absolute;
        left: 0;
        width: auto;
        height: 65%;
        top: 25%;
        filter: grayscale(0);
    }

    .flag{
        position: absolute;
        width: auto;
        height: 28%;
        left: 2%;
        top: 82%;
        transform: rotate(-18deg);
    }

    .frame1.fade-in.appear{
        display: none;
    }

    /* page four responsive */

    #blockFour{
        position: absolute;
        width: 80%;
        height: auto;
        left: 8%;
        top: 12%;
        z-index: 90;
    }
    
    .picfour{
        position: absolute;
        width: auto;
        height: 55%;
        top: 30%;
        left: 18%;
        z-index: 89;
        filter: grayscale(0);
    }
    
    .stamp2{
        position: absolute;
        width: auto;
        height: 35%;
        left: -6%;
        top: 65%;
        transform: rotate(24deg);
        z-index: 91;
    }
    
    .frame1{
        position: absolute;
        width: auto;
        height: 48vh;
        left: 35%;
        top: 88%;
        z-index: 90;
    }

    /* intro fifth page */
    .blockFive{
        position: absolute;
        width: 96%;
        height: auto;
        left: 0;
        text-align: right;
        top: 70%;
    }

    .blockFive:nth-child(2){
        position: absolute;
        text-align: left;
        top: 10%;
        left: 8%;
    }

    .mockfive{
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        top: 25%;
    }

    .paperplane{
        position: absolute;
        width: auto;
        height: 18%;
        top: 80%;
        left: 5%;
        transform: rotate(-14deg);
        opacity: .8;
    }

    .frame2{
        display: none;
    }

    /* intro Sixth page */
    #blocksix{
        position: absolute;
        width: 86%;
        height: auto;
        left: 8%;
        top: 62%;
    }

    #mocksix{
        position: absolute;
        display: flex;
        width: auto;
        height: 50%;
        justify-content: center;
        left: 20%;
        top: 8%;
    }

    /* button next page */
        .btn img{
            position: absolute;
            top: 90%;
            right: 12%;
            width: auto;
            height: 8vh;
        }

    /* .navbar {
        display: none;
    } */
       
    .logonav {
        position: absolute;
        height: 6vh;
        width: auto;
        left: 1vw;
        top: 10%;
        content: url("./ITIJAI-Photo/ชื่อเว็บอันใหม่/ชื่อเว็บโทรศัพท์_สีดำ.png");
    }
}
