@import url('https://fonts.cdnfonts.com/css/southland');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    height: 100vh;
    width: auto;
    overflow: hidden;

}

mark{
    background-color: white;   
}

.container{
    width: auto;
    height: 100%;
    display: flex;
    overflow: hidden;
    

}

.page{
    position: relative;
    min-width: 100%;
    height: 100%;
    font-size: 2.87em;
    display: flex;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    
}

.page p, .page h4{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 500;
    font-size: 0.5em;
    line-height: 2.25em;
}

.page h1{
    font-family: 'Bodoni Moda', serif;
}

/* ----------------page1------------------- */

.page_1{
    background: url(ITIJAI-Photo/Timeline/BG_Timeline/paper-texture.jpg);
    z-index: 50;
}

.page_1 h1{
    position: absolute;
    font-size: 3.7em;
    left: 15vw;
    top: 9vh;
    font-weight: 100;
    font-family: 'Southland', sans-serif;
}

.page_1 h2{
    position: absolute;
    font-size: 0.75em;
    left: 22vw;
    top: 35vh; 
    font-family: 'Trirong', serif;
    letter-spacing: 0.11em;
}

.page_1 p{
    position: absolute;
    left: 22.5vw;
    top: 48.5vh;
    width: 30vw;
}

.paper-next{
    position: absolute;
    width: 18vw;
    height: auto;
    left: 77vw;
    top: 78vh;
    mix-blend-mode: normal;
    transform: rotate(-10.5deg);
    opacity: 1;
}

/* ------------------------------------ */

.page_2{
    background: url(ITIJAI-Photo/halftone_bg_timeline/01.png);
}

.page_2 p{
    position: absolute;
    left: 19.9vw;
    top: 11.5vh;
    width: 28vw;
}

.page_2 h1{
    position: absolute;
    left: 24vw;
    top: 36vh;
    font-size: 10.5vw;
    letter-spacing: 0.3vw;
}

#mailbox1{
    position: absolute;
    width: 39vw;
    height: auto;
    left: 56vw;
    top: 7vh;
}



.page_2 h4{
    position: absolute;
    left: 55vw;
    top: 76vh;
    line-height: 4.5vh;
}

/* ------------------------------------ */

.page_3{
    background: url(ITIJAI-Photo/halftone_bg_timeline/02.png);
}
.page_3 p{
    position: absolute;
    left: 48.7vw;
    top: 30vh;
    width: 24vw;
}

.page_3 h1{
    position: absolute;
    left: 50vw;
    top: 46vh;
    letter-spacing: 0.3vw;
    font-size: 9vw;
}

#mailbox2{
    position: absolute;
    width: 36vw;
    height: auto;
    left: 18vw;
    top: 18.1vh;

}

/* ------------------------------------ */

.page_4{
    background: url(ITIJAI-Photo/halftone_bg_timeline/03.png);
}

.page_4 p{
    position: absolute;
    left: 47vw;
    top: 47.2vh;
    width: 22.2vw;
}

.page_4 h1{
    position: absolute;
    left: 43.4vw;
    top: 24.5vh;
    letter-spacing: 0.8vw;
    font-size: 8.2vw;
}

#mailbox3{
    position: absolute;
    width: 33vw;
    height: auto;
    left: 19vw;
    top: 21vh;

}

/* ------------------------------------ */

.page_5{
    background: url(ITIJAI-Photo/halftone_bg_timeline/04.png);
}

.page_5 p{
    position: absolute;
    left: 47vw;
    top: 60vh;
    width: 28vw;

}

.page_5 h1{
    position: absolute;
    left: 51vw;
    top: 37vh;
    font-size: 9vw;
    letter-spacing: 0.8vw;
}

#mailbox4{
    position: absolute;
    width: 12vw;
    height: auto;
    left: 30.5vw;
    top: 22vh;

}

.shoinfo04{
    position: relative;
    height: 8vh;
    width: auto;
    cursor: pointer;
}
.boxs04{
    width: auto;
    height: 0vh;
    top: 42.7vh;
    left: 34.5vw;
    position: absolute;
    animation: 0.8s infinite alternate gloweff; 
}
.boxs04:hover{
    transform: scale(1.2);
}

.shoinfo04 img{
    height: 100%;
    width: 100%;
}

.shoinfo04:hover{
    transform: scale(1.5);
}

#info04{
    z-index: 101000;
    position: absolute;
    height: 60vh;
    width: auto;
    top: 19.5vh;
    left: 29vw;
    display: none;
}

.bginfo{
    height: 100%;
    width: 100%;
}

.closebutton{
    position: absolute;
    top: 7.5vh;
    left: 71vh;
    height: auto;
    width: 6vh;
    cursor: pointer;
}

#info04 p{

    width: 28vw;
    text-align: center;
    top: 13.5vh;
    left: 9vw;
}

/* ------------------------------------ */

.page_6{
    background: url(ITIJAI-Photo/halftone_bg_timeline/05.png);
}
.page_6 p{
    position: absolute;
    left: 42.2vw;
    top: 32vh;
    width: 27vw;
}

.page_6 h1{
    position: absolute;
    left: 47vw;
    top: 51vh;
    font-size: 7.5vw;
    letter-spacing: 0.8vw;
}

#mailbox5{
    position: absolute;
    width: 11vw;
    height: auto;
    left: 27vw;
    top: 26vh;
}

/* ------------------------------------ */

.page_7{
    background: url(ITIJAI-Photo/halftone_bg_timeline/06.png);
}

.page_7 p{
    position: absolute;
    left: 44vw;
    top: 50vh;
    width: 25vw;
}

.page_7 h1{
    position: absolute;
    left: 40vw;
    top: 29.4vh;
    font-size: 8.2vw;
    letter-spacing: 0.8vw;
}

#mailbox6{
    position: absolute;
    width: 10.2vw;
    height: auto;
    left: 27.5vw;
    top: 22.2vh;
}
/* ------------------------------------ */

.page_8{
    background: url(ITIJAI-Photo/halftone_bg_timeline/07.png);
}
.page_8 p{
    position: absolute;
    left: 45.5vw;
    top: 44vh;
    width: 28vw;
}

.page_8 h4{
    position: absolute;
    left: 53vw;
    top: 58vh;
    width: 27vw;
}

.page_8 h1{
    position: absolute;
    left: 40.5vw;
    top: 22vh;
    font-size: 8.5vw;
    letter-spacing: 0.8vw;
}

#mailbox7{
    position: absolute;
    width: 11vw;
    height: auto;
    left: 26.7vw;
    top: 19vh;
}

/* ------------------------------------ */

.page_9{
    background: url(ITIJAI-Photo/halftone_bg_timeline/08.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page_9 p{
    position: absolute;
    left: 30.5vw;
    top: 44vh;

}

.page_9 h4{
    position: absolute;
    left: 35vw;
    top: 55vh;

}

.page_9 h1{
    position: absolute;
    left: 24.5vw;
    top: 23vh;
    font-size: 8.5vw;
    letter-spacing: 0.9vw;
}

#mailbox8{
    position: absolute;
    width: 17vw;
    height: auto;
    left: 59vw;
    top: 17vh;
}

/* ------------------------------------ */

.page_10{
    background: url(ITIJAI-Photo/halftone_bg_timeline/09.png);
}

.page_10 p{
    position: absolute;
    left: 42.5vw;
    top: 45vh;
    width: 29.5vw;
}

.page_10 h1{
    position: absolute;
    left: 55vw;
    top: 26vh;
    font-size: 7.5vw;
    letter-spacing: 0.9vw;
}

#mailbox9{
    position: absolute;
    width: 10.5vw;
    height: auto;
    left: 29.5vw;
    top: 18vh;
}

/* ------------------------------------ */

.page_11{
    background: url(ITIJAI-Photo/halftone_bg_timeline/10.png);
}

.page_11 p{
    position: absolute;
    left: 46.5vw;
    top: 24.5vh;
}

.page_11 h1{
    position: absolute;
    left: 51vw;
    top: 47vh;
    font-size: 8vw;
    letter-spacing: 0.8vw;
}

.page_11 h2{
    position: absolute;
    left: 51vw;
    top: 63vh;
    font-size: 6.8vw;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 500;
}

#mailbox10{
    position: absolute;
    width: 16vw;
    height: auto;
    left: 26vw;
    top: 13vh;
}

.next_page{
    position: absolute;
    width: 9.5vw;
    height: auto;
    left: 79.5vw;
    top: 40vh;
}

.page_11 h5{
    position: absolute;
    left: 51vw;
    top: 64vh;
    text-align: center;
    left: 80.5vw;
    font-size: 1.3vw;
    top: 55vh;
    font-family: ibm-plex-mono,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.shoinfo10{
    position: relative;
    height: 7vh;
    width: auto;
    cursor: pointer;
}


.boxs10{
    width: auto;
    height: 0vh;
    top: 23.5vh;
    left: 30vw;
    position: absolute;
    animation: 0.8s infinite alternate gloweff; 
}

.shoinfo10 img{
    width: 100%;
    height: 100%;
}

.boxs10:hover{
    transform: scale(1.2);
}

#info10{
    z-index: 101000;
    position: absolute;
    height: 60vh;
    width: auto;
    top: 19.5vh;
    left: 29vw;
    display: none;
}

.bginfo{
    height: 100%;
    width: 100%;
}

.closebutton{
    position: absolute;
    top: 7.5vh;
    left: 71vh;
    height: auto;
    width: 6vh;
    cursor: pointer;
}

#info10 p{
    height: 100%;
    width: 100%;
    text-align: center;
    top: 17.5vh;
    left: 0vw;
    font-size: 1.5vw;

}

.nextp_m{
    cursor: pointer;
    animation: 0.7s infinite alternate dukdik;
}

.nextp_m:hover{
    animation: 0.4s infinite alternate dukdik;
}
/* ------------------------------------ */

#progressBar {
    position: fixed;
    top: 84vh;
    left: 16vw;
    width: auto;
    height: 9vh;
    z-index: 1;
}

#progressBar img{
    height: 100%;
    width: auto;
}
  
.progress-bar {
    position: absolute;
    top: 0vh;
    left: -3vw;
    width: auto;
    height: 9vh;
    z-index: 101;
}

.progress-bar img{
    height: 100%;
    width: 100%;
}

.pgb_desktop{
    display:block;
   }
 
.phone_desktop{
   display:none;
}

/* ----------------------------- */
.navbar {
    overflow: hidden;
    background: linear-gradient(180deg, rgb(240, 240, 240)90%, rgba(255,255,255,0) 100%);;
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    z-index: 10000;
}

.navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 1.5vh;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    text-decoration: none;
}

.borderLR {
    width: 0.05vw;
    height: 2.5vh;
    background-color: gray;
}

.logonav {
    position: absolute;
    height: 3.8vh;
    left: 1vw;
    top: 0.8vh;
}

.underline {
    position: relative;
    font-family: 'Oswald', sans-serif;
}

.underline:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.175em;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: .4;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom center;
}


/* prev nextbutton */
.prev{
    position: absolute;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
    border-right: 2vw solid #6a6a6a;
    left: 15vw;
    top: 26vw;
    cursor: pointer;
}

.prev:hover{
    animation: uparrow 0.6s infinite alternate ease-in-out;
}

.next{
    position: absolute;
    border-top: 1vw solid transparent;
    border-bottom: 1vw solid transparent;
    border-left: 2vw solid #6a6a6a;
    left: 84vw;
    top: 26vw;
    cursor: pointer;
}

.next:hover{
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@keyframes uparrow {
    0% { transform: translateX(0); opacity: 0.9 }
    100% { transform: translateX(0.4vw); opacity: 0.7 }
}
@keyframes downarrow {
    0% { transform: translateX(0); opacity: 0.9 }
    100% { transform: translateX(-0.4vw); opacity: 0.7 }
}

/* ------------------------------ */

@keyframes dukdik {
    0% { transform: rotate(1deg),scale(1); }
    0% { transform: rotate(-1deg);}
    100% { transform: rotate(0deg),scale(1); }
}

@keyframes gloweff {
    0%{
    box-shadow:5px 10px 60px 40px rgb(245, 253, 204);  
    }
    100%{
    box-shadow:5px 10px 60px 40px rgba(245, 253, 204, 0);   

    }
}

/* -------------------------------responsive360------------------------------------ */
@media screen and (max-width:480px){

    #progressBar {
        position: fixed;
        top: 92vh;
        left: 8vw;
        width: auto;
        height: 3.5vh;
        z-index: 1;
    }
    
    #progressBar img{
        height: 100%;
        width: auto;
    }
      
    .progress-bar {
        position: absolute;
        top: -1vh;
        left: -5vw;
        width: auto;
        height: 4.5vh;
        z-index: 101;
        rotate: -15deg;
    }
    
    .progress-bar img{
        height: 100%;
        width: 100%;
    }

    .pgb_desktop{
        display:none;
       }
     
    .phone_desktop{
       display:block;
    }

    /* ------------------------------------ */

    .prev{
        position: absolute;
        border-top: 2vw solid transparent;
        border-bottom: 2vw solid transparent;
        border-right: 4vw solid #6a6a6a;
        left: 1.5vw;
        top: 50vh;
        cursor: pointer;
    }
    
    .next{
        position: absolute;
        border-top: 2vw solid transparent;
        border-bottom: 2vw solid transparent;
        border-left: 4vw solid #6a6a6a;
        left: 94.5vw;
        top: 50vh;
        cursor: pointer;
    }

    /* ----------------------------------------------- */

    .page{
        position: relative;
        min-width: 100%;
        height: 100%;
        font-size: 1.6em;
        display: flex;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
    }
    
    .page p, .page h4{
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-weight: 500;
        font-size: 0.5em;
        line-height: 2.1em;
    }
    
    .page h1{
        font-family: 'Bodoni Moda', serif;
    }

    
    
    /* ----------------page1------------------- */
    
    
    .page_1 h1{
        position: absolute;
        font-size: 5em;
        left: -23vw;
        top: -4.5vh;
        font-weight: 100;
        font-family: 'Southland', sans-serif;
    }
    
    .page_1 h2{
        position: absolute;
        font-size: 0.7em;
        left: 30vw;
        top: 20vh; 
        
    }
    
    .page_1 p{
        position: absolute;
        left: 32vw;
        top: 30vh;
        width: 61vw;
        line-break: auto;
    }
    
    .paper-next{
        position: absolute;
        width: 35vw;
        height: auto;
        left: 64vw;
        top: 85vh;
        mix-blend-mode: normal;
        transform: rotate(-10.5deg);
        opacity: 1;
    }

    /* ------------------------------------ */

    
    .page_2 p{
        position: absolute;
        left: 13vw;
        top: 29vh;
        width: 70vw;
    }
    
    .page_2 h1{
        position: absolute;
        left: 50vw;
        top: 12.5vh;
        font-size: 2.7em;
        letter-spacing: 0.3vw;
    }
    
    #mailbox1{
        position: absolute;
        width: 80vw;
        height: auto;
        left: 40vw;
        top: 38vh;
    }
    
    .page_2 h4{
        position: absolute;
        left: 20vw;
        top: 81.5vh;
        font-size: 0.5em;
        width: 80vw;
        line-height: 1.9em;
    }
    
    /* ------------------------------------ */

    .page_3 p{
        position: absolute;
        left: 20vw;
        top: 72vh;
        width: 57vw;
    }
    
    .page_3 h1{
        position: absolute;
        left: 12vw;
        top: 20vh;
        font-size: 2.7em;
        letter-spacing: 0.3vw;
    }
    
    #mailbox2{
        position: absolute;
        width: 70vw;
        height: auto;
        left: 35vw;
        top: 35vh;
    
    }

    /* ------------------------------------ */

    .page_4 p{
        position: absolute;
        left: 25vw;
        top: 58vh;
        width: 55vw;
        text-align: center;
        
    }
    
    .page_4 h1{
        position: absolute;
        left: 15vw;
        top: 25vh;
        letter-spacing: 0.8vw;
        font-size: 2.7em;
    }
    
    #mailbox3{
        position: absolute;
        width: 90vw;
        height: auto;
        left: 30vw;
        top: 8.5vh;
    
    }
    
    /* ------------------------------------ */

    .page_5 p{
        position: absolute;
        left: 27vw;
        top: 74vh;
        text-align: center;
        width: 50vw;
    }
    
    .page_5 h1{
        position: absolute;
        left: 32vw;
        top: 9vh;
        font-size: 2.7em;
        letter-spacing: 0.8vw;
    }
    
    #mailbox4{
        position: absolute;
        width: 33vw;
        height: auto;
        left: 35vw;
        top: 23.2vh;
    
    }

    .boxs04{
        width: auto;
        height: 0vh;
        top: 41vh;
        left: 46vw;
        position: absolute;
        animation: 0.8s infinite alternate gloweff; 
    }

    
    .shoinfo04{
        position: relative;
        height: 6.5vh;
        width: auto;
        cursor: pointer;
    }
    
    .shoinfo04 img{
        height: 100%;
        width: 100%;
    }
    
    .shoinfo04:hover{
        transform: scale(1.5);
    }
    
    #info04{
        z-index: 101000;
        position: absolute;
        height: 60vh;
        width: auto;
        top: 19.5vh;
        left: 0vw;
        display: none;
    }
    
    .bginfo{
        height: 100%;
        width: 100%;
    }
    
    .closebutton{
        position: absolute;
        top: 7.5vh;
        left: 80vw;
        height: auto;
        width: 6vh;
        cursor: pointer;
    }
    
    #info04 p{
        width: 49vw;
        text-align: center;
        top: 10vh;
        left: 25vw;
    }
    
    /* ------------------------------------ */

    .page_6 p{
        position: absolute;
        left: 20vw;
        top: 68vh;
        width: 60vw;
        text-align: center;
    }
    
    .page_6 h1{
        position: absolute;
        left: 50vw;
        top: 10vh;
        font-size: 2.7em;
        letter-spacing: 0.8vw;
    }
    
    #mailbox5{
        position: absolute;
        width: 28.5vw;
        height: auto;
        left: 25vw;
        top: 24vh;
    }
    
    /* ------------------------------------ */

    .page_7 p{
        position: absolute;
        left: 14vw;
        top: 70vh;
        width: 70vw;

    }
    
    .page_7 h1{
        position: absolute;
        left: 15vw;
        top: 35vh;
        font-size: 2.7em;
        letter-spacing: 0.8vw;
    }
    
    #mailbox6{
        position: absolute;
        width: 32vw;
        height: auto;
        left: 60vw;
        top: 13.5vh;
    }
    /* ------------------------------------ */

    .page_8 p{
        position: absolute;
        left: 13vw;
        top: 26vh;
        width: 77vw;
        text-align: center;
    
    }
    
    .page_8 h4{
        position: absolute;
        left: 15vw;
        top: 55vh;
        width: 40vw;
    }
    
    .page_8 h1{
        position: absolute;
        left: 31vw;
        top: 10vh;
        font-size: 2.7em;
        letter-spacing: 0.8vw;
    }
    
    #mailbox7{
        position: absolute;
        width: 31vw;
        height: auto;
        left: 58vw;
        top: 35vh;
    
    
    }
    
    /* ------------------------------------ */

    .page_9 p{
        position: absolute;
        left: 12vw;
        top: 33vh;
    
    }
    
    .page_9 h4{
        position: absolute;
        left: 12vw;
        top: 10vh;
    
    }
    
    .page_9 h1{
        position: absolute;
        left: 50vw;
        top: 55vh;
        font-size: 2.7em;
        letter-spacing: 0.9vw;
    }
    
    #mailbox8{
        position: absolute;
        width: 37vw;
        height: auto;
        left: 10vw;
        top: 42.5vh;
    }
    
    /* ------------------------------------ */

    .page_10 p{
        position: absolute;
        left: 50vw;
        top: 50vh;
        width: 40vw;
    }
    
    .page_10 h1{
        position: absolute;
        left: 30vw;
        top: 13vh;
        font-size: 3em;
        letter-spacing: 0.9vw;
    }
    
    #mailbox9{
        position: absolute;
        width: 27vw;
        height: auto;
        left: 16vw;
        top: 35vh;
    }
    
    /* ------------------------------------ */

    .page_11 p{
        position: absolute;
        left: 15vw;
        top: 72vh;
        width: 80vw;
    }
    
    .page_11 h1{
        position: absolute;
        left: 55vw;
        top: 8.5vh;
        font-size: 1.8em;
        letter-spacing: 0.8vw;
    }
    
    .page_11 h2{
        position: absolute;
        left: 55vw;
        top: 17vh;
        font-size: 1.6em;
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-weight: 500;
    }
    
    #mailbox10{
        position: absolute;
        width: 35vw;
        height: auto;
        left: 16vw;
        top: 23vh;
    }
    
    .next_page{
        position: absolute;
        width: 25vw;
        height: auto;
        left: 65vw;
        top: 35vh;
    }
    
    .page_11 h5{
        position: absolute;
        left: 66vw;
        top: 48vh;
        text-align: center;
        font-size: 0.5em;
        font-family: ibm-plex-mono,sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    
    .boxs10{
        width: auto;
        height: 0vh;
        top:29.5vh;
        left: 24.5vw;
        position: absolute;
        animation: 0.8s infinite alternate gloweff; 
    }

    .shoinfo10{
        position: relative;
        height: 5.5vh;
        width: auto;
        cursor: pointer;
    }
    
    #info10{
        z-index: 101000;
        position: absolute;
        height: 60vh;
        width: auto;
        top: 20vh;
        left: 0vw;
        display: none;
    }
    
    .bginfo{
        height: 100%;
        width: 100%;
    }
    
    .closebutton{
        position: absolute;
        top: 7.5vh;
        left: 45vh;
        height: auto;
        width: 6vh;
        cursor: pointer;
    }
    
    #info10 p{
        height: 100%;
        width: 100%;
        text-align: center;
        top: 22vh;
        left: 0vw;
        font-size: 0.5em;

    
    }

    .logonav{
      position: absolute;
      height: 6vh;
      width: auto;
      left: 1vw;
      top: 10%;
      content: url("./ITIJAI-Photo/ชื่อเว็บอันใหม่/ชื่อเว็บโทรศัพท์_สีดำ.png");

    }
    /* ------------------------------------ */
}



/* -------------------------------responsive1200------------------------------------ */
